# Exclude folders not relevant for build
/args
/bin
/tmp/*
/local
/dev
/test
/dev-setup
/example
/.idea

*.test
*.coverprofile
*.html
.vscode
.idea
.claude
.DS_Store
*~

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# GitGuardian
.cache_ggshield

# gosec
gosec-report.sarif
